:root{
    --background-color: #e6e6e6;
    --bacground-left-color: #0f163f;
    --borders-color:#0d5551;
    --color:#000;
}

html{
    background-color:var(--background-color);
    font-family: Lalezar , sans-serif ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: var(--background-color);
}

.photo{
    background-color: var(--bacground-left-color);
    border-left: 20px var(--borders-color) solid;
    border-right: 20px var(--borders-color) solid;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 50%;
    animation: Round 4s ease-in-out 0.1s infinite normal both;
}

@keyframes Round{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.photo-1{
    background-image:url(photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 10.8%;
    top: 10%;
    border-radius: 50%;
    direction: rtl;
}

h2{
    font-family: 'Aref Ruqaa Ink' ,Rakkas ,'Cairo Play' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    border-radius: 1rem;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    width: 40%;
    padding-right: 15px;
    box-shadow: 10px 10px 15px 0.5px var(--color);
}

.center{
    width: 50%;
    background-color: var(--bacground-left-color);
    height: 96vh;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-right: 15px;
    padding-top: 15px;
    box-shadow: 0px 10px 15px 0.5px var(--borders-color);
    transition: all 1s ease-in-out 0.1s;
}

.center:hover{
    animation: Round-The-Center 5s ease 4s infinite normal both;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
}

@keyframes Round-The-Center{
    0%{
        box-shadow: 0px 10px 2px 2px blue;
    }
    25%{
        box-shadow: 10px 10px 2px 2px red;
    }
    50%{
        box-shadow: 10px 0px 2px 2px green;
    }
    75%{
        box-shadow: -10px 0px 2px 2px red;
    }
    100%{
        box-shadow: 0px 10px 2px 2px blue;
    }
}

.bottom{
    position: absolute;
    left: 1%;
    top: 45%;
    width: 500px;
    color: var(--bacground-left-color);
}

.bottom>h2{
    background-color: var(--bacground-left-color);
    width: 80%;
}

.Icons-Out-Off-The_programming{
    top: 15%;
    right: 40%;
    position: absolute;
    z-index: 999;
    width: 2px;
}

.fa-whatsapp{color: #25d366; transition: all 1s ease-in-out 0.1s;}
.fa-facebook{color: #1877f2; transition: all 1s ease-in-out 0.1s;}
.fa-telegram{color: #0088cc; transition: all 1s ease-in-out 0.1s;}
.fa-github{color: var(--background-color); transition: all 1s ease-in-out 0.1s;}
.fa-youtube{color: #ff0000; transition: all 1s ease-in-out 0.1s;}
.fa-linkedin{color: #1877f2; transition: all 1s ease-in-out 0.1s;}

.Icons-Out-Off-The_programming> .icons{
    color: var(--background-color);
    font-size: xx-large;
    transition: all 0.5s ease-in-out 0.1s;
}

.fa-facebook:hover,.fa-telegram:hover,.fa-youtube:hover,.fa-whatsapp:hover,.fa-github:hover ,.fa-linkedin:hover{
    color: var(--background-color);
}

@media (max-width: 450px){
    html{
        font-size: 12px;
    }
    .photo-1{
        top: 5%;
        left: 25%;
        height: 200px;
        width: 200px;
    }
    .photo{
        position: absolute;
        top: 5%;
        left: 20%;
        height: 200px;
        width: 200px;
    }
    .center{
        position: absolute;
        top: 60%;
        width: 90%;
        border-radius: 3rem;
        height: 100vh;
        text-align: center;
    }
    h2{
        width: 35%;
    }
    .Icons-Out-Off-The_programming{
        position: absolute;
        text-align: center;
        top: 155%;
        width: 40%; 
        right: 30%;
    }
    .Icons-Out-Off-The_programming> .icons{
        font-size: large;
    }
    .bottom{
        position: absolute;
        top: 31%;
        right: 28.5%;
        width: 200px;
        text-align: center;
    }
    .bottom>h2{
        border-radius: 3rem;
    }
}

@media (max-width:1280px) {
    .center{
        height: 100vh;
    }
}

@media (max-width:360px){
    html{
        font-size: 13px;
    }
    .photo-1{
        position: absolute;
        top: 3%;
        left: 25%;
        height: 150px;
        width: 150px;
    }
    .photo{
        position: absolute;
        top: 3%;
        left: 20%;
        height: 150px;
        width: 150px;
    }
    .center{
        height: 120vh;
    }
    h2{
        width: 40%;
    }
    .Icons-Out-Off-The_programming{
        position: absolute;
        top: 165%;
    }
    .bottom{
        position: absolute;
        top: 35%;
        right: 25%;
    }
}

@media (max-width:800px){
    html{
        font-size: 13px;
    }
    .photo-1{
        position: absolute;
        top: 3%;
        left: 27.5%;
        height: 300px;
        width: 300px;
    }
    .photo{
        position: absolute;
        top: 3%;
        left: 25%;
        height: 300px;
        width: 300px;
    }
    .center{
        position: absolute;
        top: 35%;
        height: 65vh;
        width: 90%;
    }
    h2{
        width: 45%;
    }
    .Icons-Out-Off-The_programming{
        position: absolute;
        text-align: center;
        top: 55%;
        width: 50%; 
        right: 45%;
    }
    .bottom{
        position: absolute;
        top: 35%;
        right: 60%;
        width: 40%;
        font-size: medium;
        color: var(--background-color);
    }
    .bottom>h2{
        width: 35%;
        background-color: var(--background-color);
    }
}

@media (max-width:1024px){
    .bottom{
        position: absolute;
        top: 35%;
        right: 60%;
        width: 40%;
    }
    .photo{
        position: absolute;
        left: 9%;
        top: 10%;
    }
    .center{
        height: 65vh;
    }
}

@media (max-hight:1280px)